[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
[submodule "spacemacs"]
	path = spacemacs/emacs.d
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "nur-packages"]
	path = nur-packages
	url = https://github.com/bhipple/nur-packages
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs
[submodule "zgenom"]
	path = zgenom
	url = https://github.com/jandamm/zgenom.git
