*.hi
*.log
*.o
*.pyc
*.stack-work*
*~
.luarc.json
bin/hub
emacs~
nodes
nvim/lazy-lock.json
tags
tmux/plugins
vim/autoload/plug.vim.old
vim/haskellmode.config
vim/init.vim
vim/spell/*.spl
vim/spell/*.sug

!tmux/plugins/tpm
